.header-boundary {
  border-bottom: 1px solid dimgray;
  padding: 20px 0px 20px 0px;
}

.forms-body {
  margin-top: 40px;
}

.body-group {
  justify-content: space-between;
}

.submit-button-container {
  text-align: center;
}

.react-datepicker__input-container input {
  display: block;
  width: 100%;
  padding: 6px 12px;
}
