.body-container {
  margin-top: 40px;
}

.summary-style {
  text-align: end;
  font-size: 18px;
}

.table {
  td {
    vertical-align: middle !important;
    text-align: center !important;
  }

  th {
    vertical-align: middle !important;
    text-align: center !important;
  }
}
