.App {
  max-width: 100%;
}

.App-header {
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.image-upload>input {
  display: none;
}

.app-content {
  background-color: rgb(235, 235, 235);
  height: auto;
}
